<div class="container">
  <header class="row">
    <div class="col-xs-12">
      <p class="title">{{title}}</p>
      <p class="sub-title">{{subTitle}}</p>
    </div>
  </header>
  <section class="row projects">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <ng-template #projectContainer></ng-template>
      <div class="row add-project" (click)="addProject()">
        <div class="col-xs-12">
          <img alt="shedule-icon" src="{{imagePath + 'icons/blue-plus.fw.png'}}">
          <span>Add TODO List</span>
        </div>
      </div>
    </div>
  </section>
  <footer class="row">
    <div class="col-xs-12">&copy; {{copyright}}</div>
  </footer>
</div>